/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

.navigation {
	display: inline-block;
	padding: 10px 20px 20px 40px;
	font-size: 16pt;
}

.logo {
	margin-left: 15%;
	top: 18px;
	right: 20px;
	position: absolute;
}

header {
	display: inline-block;
    width: 100%;
	padding: 18px;
	font-family: bangers, cursive;
	font-size: 18pt;

}

.circle-img {
	height: 200%;
	width: 25%;
	margin-left: 80%;
	display: block;
	vertical-align: baseline;
}

button {
	height: 30px;
	display: block;
	line-height: 1;
	vertical-align: baseline;
}

.middle-img {
	height: 15%;
	width: 85%;
	margin-left: 5%;
	display: block;
	vertical-align: baseline;
}

h3 {
	font-family: bangers, cursive;
	font-size: 16pt;
	display: block;
	margin-left: 5%;
	margin-bottom: 15pt;
	display: inline-block;
	line-height: 1;
	vertical-align: baseline;
	
}

p {
	width: 50%;
	margin-left: 5%;
	text-align: left;
	display: block;
	line-height: 1;
	vertical-align: baseline;
	
}

.contact {
	vertical-align: -webkit-baseline-middle;
	display: block;
	vertical-align: baseline;
}

footer {
	margin-left: 30%;
	display: block;
	vertical-align: baseline;
}

.top-content {
	color:red;
	display: inline-block;
	vertical-align: baseline;
}

.bottom-content {
	display: inline-block;
	vertical-align: baseline;
}